.recipe {
  //Recipe card container
  &__container {
    @include cardWidth(3);
    min-height: 365px;
    background-color: $dark-grey;
    display: flex;
    flex-direction: column;
    border-radius: $default-radius;

    @include media(tablet) {
      @include cardWidth(2)
    }

    @include media(mobile) {
      @include cardWidth(1)
    }
  }

  &__img {
    min-height: 178px;
  }

  //Recipe
  min-height: 187px;
  width: 100%;
  background-color: $light-grey;
  padding: 20px;
  flex-grow: 1;
  border-radius: 0 0 $default-radius $default-radius;

  //Recipe name and duration
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    //recipe name
    &__name {
      font-size: 18px;
      font-weight: 400;
      max-width: 70%;
      @include media(desktop) {
        font-size: 16px;
      }
    }

    //duration
    & p {
      display: flex;
      flex-shrink: 0;
      gap: 5px;
      align-items: center;
      font-size: 18px;
      font-weight: 700;
      @include media(desktop) {
        font-size: 16px;
      }
    }
  }

  //recipe details container
  &__details {
    margin-top: 20px;
    display: flex;
    font-size: 12px;
    gap: 5px;

    &__col {
      width: 50%;

      //recipe ingredients
      &--left {
        & .ingredient {
          line-height: 14px;

          & strong {
            font-weight: 700;
          }
        }
      }

      //recipe steps
      &--right {
        display: -webkit-box;
        font-weight: 400;

        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 6;
        line-clamp: 6;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
      }
    }
  }
}