//colors

$tagColors: (
        "ingredients": #3282F7,
        "appliance" :#68D9A4,
        "utensils": #ED6454
);

$light-grey: #E7E7E7;
$dark-grey: #C7BEBE;
$logo-color: #D04F4F;

$max-with: 1440px;

$cards-gap: 3%;

$default-radius: 5px;

$screen-sizes: (
        mobile: 768px,
        tablet: 992px,
        desktop: 1228px,
        big-size: $max-with
);