//colors
$ing-color: #3282F7;
$app-color: #68D9A4;
$ust-color: #ED6454;
$light-grey: #E7E7E7;
$dark-grey: #C7BEBE;
$logo-color: #D04F4F;

$max-with: 1440px;

$cards-gap: 3%;
$card-width: calc((100% - ($cards-gap * 2)) / 3);